{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6" style="margin-left: -15%;"> <!-- style属性で左側のマージンを追加 -->
            <h2 class="mb-4">ログイン</h2>
            <form action="/login" method="post" class="mb-4">
                <div class="mb-3">
                    <label for="username" class="form-label">ユーザー名:</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">パスワード:</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">ログイン</button>
                </div>
            </form>
            <div>
                <a href="/register" class="text-primary" style="text-decoration: underline;">未登録の方はこちら</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

 

